doctype 5
html
  head
    title Translation Typesetting Client

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500,500italic,400italic,300italic,300,100,100italic&subset=latin,cyrillic")
    link(rel="stylesheet", href="/styles/index.css")

    script(src="/components/jquery/jquery.js")
    script(src="/components/angular/angular.js")
    script(src="/components/angular-sanitize/angular-sanitize.js")
    script(src="/scripts/index.js")

  body(ng-app="translationTypesetting", ng-init="lang='ru'")
    .container
      header.header
        p.logo(ng-show="lang == 'ru'") Некий веб-сайт
        p.logo(ng-show="lang == 'en'") Some website

        nav.nav
          a.nav-link(href="#!/admin", ng-show="lang == 'ru'") Админка
          a.nav-link(href="#!/", ng-click="lang='ru'", ng-hide="lang == 'ru'") Русский
          b.nav-link(ng-show="lang == 'ru'") Русский
          a.nav-link(href="#!/", ng-click="lang='en'", ng-hide="lang == 'en'") English
          b.nav-link(ng-show="lang == 'en'") English

      section.content(ng-view)

      footer.footer
        p.copyrights &copy; 2013 Translation Typesetting
