@import "nib"

green = #D4FB78
yellow = #FFFFCC

global-reset()
reset-html5()

a
  color green

body
  margin 0
  font-family Roboto
  font-size 16px

.container
  width 980px
  margin 0 auto
  background-color green

.header
  padding 30px
  clearfix()

.logo
  float left
  font-size 32px
  font-weight 100

.content
  padding 30px
  background-color yellow

.title
  margin-bottom 30px
  font-size 64px
  font-weight bold

.footer
  padding 30px

.copyrights
  text-align right

.nav
  float right

.nav-link
  display inline-block
  margin-left 30px
  color black
  line-height 32px
